.h5_component_Point .point {
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
}
.h5_component_Point .point .name {
	height: 30px;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	font-size: 22px;
}
.h5_component_Point .point .per {
	font-size: .5em;
}
.h5_component_Point .point_0 {
	z-index:1;
}
.h5_component_Point .point_1 {
	left: 25%;
	top: -20%
}
.h5_component_Point .point_2 {
	left: 25%;
	top: 60%
}
